body {
  background-image: url(images/sample-pattern.png);
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  justify-content: end;
  padding: 10px;
}

nav {
  margin: auto;
  display: flex;
  background-color: white;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: block;
  padding: 20px 15px;
  margin: 0;
  text-decoration: none;
  text-align: right;
}

.lorem {
  background-color: white;
  margin: auto;
  width: 50%;
  margin-top: 10px;
  padding: 10px;
}

.lorem .title {
  color: blue;
}

.box {
  border-style: hidden;
  width: 100%;
  height: 25px;
  margin: auto;
  background-color: white;
}

.footer {
  background-color: black;
  color: white;
  position: fixed;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.isi-footer {
  text-align: center;
}
